<div class="compact-view">
  {{ range .Params.projects }}
  <div class="compact-item">
    <h3>{{ .title }}</h3>
    <!-- <p>{{ .description }}</p> -->
  </div>
  {{ end }}
</div>

<style>
  .compact-view {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* 카드 간의 간격 */
  }

  .compact-item {
    width: calc(50% - 16px); /* 두 개의 카드를 한 줄에 표시 */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.3s; /* 호버 시 애니메이션 효과 */
  }

  .compact-item:hover {
    transform: scale(1.05); /* 호버 시 크기 확대 */
  }

  .compact-item h3 {
    font-size: 10px; /* 제목 크기 조절 */
    margin: 8px; /* 여백 */
  }
</style>
