<div class="card" style="width: 40%">
  {{ with $resource }} {{ $image := .Resize "550x" }} {{ if ne
  $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
  <a
    href="{{ $link }}"
    {{
    $target
    |
    safeHTMLAttr
    }}
    class="card-image hover-overlay"
  >
    <img
      src="{{ $image.RelPermalink }}"
      height="{{ $image.Height }}"
      width="{{ $image.Width }}"
      alt="{{ $item.Title }}"
      class="img-responsive"
      loading="lazy"
      style="margin-top: 15px"
    />
  </a>
  {{ end }}
  <div class="card-text">
    <div class="section-subheading article-title mb-1 mt-3">
      <h4>
        <a href="{{ $link }}" {{ $target | safeHTMLAttr }}
          >{{ $item.Title | markdownify | emojify }}</a
        >
      </h4>
    </div>

    <!-- Display start_date and end_date -->
    {{ if $item.Params.start_date }}
    <p style="white-space: normal">
      <strong>📅 Start Date:</strong> {{ $item.Params.start_date }}
    </p>
    {{ end }} {{ if $item.Params.end_date }}
    <p style="white-space: normal">
      <strong>🕔 End Date:</strong> {{ $item.Params.end_date }}
    </p>
    {{ end }} {{ if $item.Params.authors }}
    <div class="article-metadata">
      <div>{{ partial "page_metadata_authors" $item }}</div>
    </div>
    {{ end }} {{ with $summary }}
    <div class="article-style">
      <p>{{ . }}</p>
    </div>
    {{ end }} {{ if $has_attachments }}
    <div class="btn-links">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}
  </div>
</div>
