<!-- .md에서 [key, 위도, 경도]를 받는 경우 -->
<!-- 
<div id="map" style="width:100%;height:400px;"></div>

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wj58af9275"></script>
<script>
    var mapOptions = {
        center: new naver.maps.LatLng({{ .Get "latitude" }}, {{ .Get "longitude" }}),  // Shortcode 파라미터로 좌표값 받음
        zoom: 15  // 줌 레벨
    };

    var map = new naver.maps.Map('map', mapOptions);

    var marker = new naver.maps.Marker({
        position: new naver.maps.LatLng({{ .Get "latitude" }}, {{ .Get "longitude" }}),
        map: map
    });
</script> -->

<!-- params.yaml에서 [key, 위도, 경도]를 받는 경우 -->
<div id="map" style="width: 100%; height: 400px"></div>

<script
  type="text/javascript"
  src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ .Site.Params.features.map.api_key }}"
></script>
<script>
  var mapOptions = {
      center: new naver.maps.LatLng({{ .Site.Params.features.map.latitude }}, {{ .Site.Params.features.map.longitude }}),  // config.yaml에서 설정한 위도와 경도
      zoom: {{ .Site.Params.features.map.zoom }}  // 줌 레벨 설정
  };

  // 지도 생성
  var map = new naver.maps.Map('map', mapOptions);

  // 마커 옵션 설정
  var markerOptions = {
      position: new naver.maps.LatLng({{ .Site.Params.features.map.latitude }}, {{ .Site.Params.features.map.longitude }}),  // 마커 위치를 동일한 위도와 경도로 설정
      map: map,
      //title: "JBNU"  // 마커에 표시할 텍스트
  };

  // 마커 생성
  var marker = new naver.maps.Marker(markerOptions);
</script>
